-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "DepartureStatus" AS ENUM ('EARLY_BOOKING', 'AVAILABLE', 'SOLD_OUT', 'CLOSED');

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('ADMIN', 'AGENT');

-- CreateEnum
CREATE TYPE "PartnerType" AS ENUM ('TOUR_OPERATOR', 'TRAVEL_AGENCY', 'TRAVEL_EXPERT', 'GROUP_LEADER');

-- CreateEnum
CREATE TYPE "AgentStatus" AS ENUM ('ACTIVE', 'SUSPENDED', 'BLOCKED');

-- CreateEnum
CREATE TYPE "BookingType" AS ENUM ('FIT', 'GROUP');

-- CreateEnum
CREATE TYPE "BookingStatus" AS ENUM ('PENDING', 'CONFIRMED', 'ON_REQUEST', 'CANCELLED', 'WAITLIST');

-- CreateEnum
CREATE TYPE "PaymentStatus" AS ENUM ('UNPAID', 'PARTIALLY_PAID', 'PAID', 'REFUNDED');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'AGENT',
    "approved" BOOLEAN NOT NULL DEFAULT false,
    "status" "AgentStatus" NOT NULL DEFAULT 'ACTIVE',
    "partnerType" "PartnerType" NOT NULL DEFAULT 'TRAVEL_AGENCY',
    "commissionRate" DOUBLE PRECISION,
    "payoutPerPax" DOUBLE PRECISION,
    "fullName" TEXT,
    "travelAgency" TEXT,
    "phone" TEXT,
    "website" TEXT,
    "membership" TEXT,
    "notes" TEXT,
    "signupIp" TEXT,
    "signupUserAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "agentLogoUrl" TEXT,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Tour" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "subcategories" TEXT[],
    "tags" TEXT[],
    "destinations" TEXT[],
    "duration" INTEGER NOT NULL,
    "shortDescription" TEXT,
    "overview" TEXT,
    "tourIntroduction" TEXT,
    "tourSignificance" TEXT,
    "destinationBriefs" TEXT,
    "highlights" TEXT[],
    "inclusions" TEXT[],
    "exclusions" TEXT[],
    "accommodations" TEXT[],
    "overviewItinerary" TEXT,
    "itinerary" TEXT,
    "mainImageUrl" TEXT,
    "mapImageUrl" TEXT,
    "brochureUrl" TEXT,
    "featured" BOOLEAN NOT NULL DEFAULT false,
    "isPublished" BOOLEAN NOT NULL DEFAULT false,
    "requiresQuote" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Tour_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DepartureDate" (
    "id" TEXT NOT NULL,
    "tourId" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "season" TEXT NOT NULL,
    "price" DOUBLE PRECISION NOT NULL,
    "status" "DepartureStatus" NOT NULL DEFAULT 'AVAILABLE',
    "earlyDiscountPercent" DOUBLE PRECISION,
    "earlyDiscountDeadline" TIMESTAMP(3),
    "capacity" INTEGER NOT NULL DEFAULT 0,
    "bookedSeats" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DepartureDate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Booking" (
    "id" TEXT NOT NULL,
    "bookingReference" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "tourId" TEXT NOT NULL,
    "departureDateId" TEXT NOT NULL,
    "status" "BookingStatus" NOT NULL DEFAULT 'PENDING',
    "paymentStatus" "PaymentStatus" NOT NULL DEFAULT 'UNPAID',
    "numberOfGuests" INTEGER NOT NULL,
    "totalPrice" DOUBLE PRECISION NOT NULL,
    "grossAmount" DOUBLE PRECISION NOT NULL,
    "commissionRateSnapshot" DOUBLE PRECISION,
    "payoutPerPaxSnapshot" DOUBLE PRECISION,
    "commissionAmount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "netAmount" DOUBLE PRECISION NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'EUR',
    "agentNameSnapshot" TEXT,
    "agentEmailSnapshot" TEXT,
    "agentPhoneSnapshot" TEXT,
    "agencyNameSnapshot" TEXT,
    "partnerTypeSnapshot" "PartnerType",
    "membershipSnapshot" TEXT,
    "tourTitleSnapshot" TEXT NOT NULL,
    "tourSlugSnapshot" TEXT NOT NULL,
    "categorySnapshot" TEXT NOT NULL,
    "subcategoriesSnapshot" TEXT[],
    "tagsSnapshot" TEXT[],
    "destinationsSnapshot" TEXT[],
    "durationSnapshot" INTEGER NOT NULL,
    "shortDescriptionSnapshot" TEXT,
    "overviewSnapshot" TEXT,
    "brochureUrlSnapshot" TEXT,
    "mainImageUrlSnapshot" TEXT,
    "mapImageUrlSnapshot" TEXT,
    "departureDateSnapshot" TIMESTAMP(3) NOT NULL,
    "seasonSnapshot" TEXT NOT NULL,
    "pricePerPersonSnapshot" DOUBLE PRECISION NOT NULL,
    "earlyDiscountPercentSnapshot" DOUBLE PRECISION,
    "earlyDiscountDeadlineSnapshot" TIMESTAMP(3),
    "customerName" TEXT,
    "customerEmail" TEXT,
    "customerPhone" TEXT,
    "leadFirstName" TEXT,
    "leadLastName" TEXT,
    "leadEmail" TEXT,
    "leadPhone" TEXT,
    "adults" INTEGER NOT NULL DEFAULT 1,
    "children" INTEGER NOT NULL DEFAULT 0,
    "infants" INTEGER NOT NULL DEFAULT 0,
    "singleRooms" INTEGER NOT NULL DEFAULT 0,
    "doubleRooms" INTEGER NOT NULL DEFAULT 0,
    "twinRooms" INTEGER NOT NULL DEFAULT 0,
    "landOnly" BOOLEAN NOT NULL DEFAULT true,
    "needsFlights" BOOLEAN NOT NULL DEFAULT false,
    "notes" TEXT,
    "specialRequests" TEXT,
    "internalNotes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "bookingType" "BookingType" NOT NULL DEFAULT 'FIT',
    "depositDeadline" TIMESTAMP(3),
    "estimatedPax" INTEGER,
    "finalPax" INTEGER,
    "groupLeaderName" TEXT,
    "groupName" TEXT,
    "roomingListDeadline" TIMESTAMP(3),

    CONSTRAINT "Booking_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Passenger" (
    "id" TEXT NOT NULL,
    "bookingId" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "gender" TEXT,
    "dateOfBirth" TIMESTAMP(3),
    "nationality" TEXT,
    "passportNumber" TEXT,
    "passportExpiry" TIMESTAMP(3),
    "roomType" TEXT,
    "isLeadPassenger" BOOLEAN NOT NULL DEFAULT false,
    "specialRequests" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Passenger_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Tour_slug_key" ON "Tour"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "Booking_bookingReference_key" ON "Booking"("bookingReference");

-- CreateIndex
CREATE INDEX "Booking_userId_idx" ON "Booking"("userId");

-- CreateIndex
CREATE INDEX "Booking_tourId_idx" ON "Booking"("tourId");

-- CreateIndex
CREATE INDEX "Booking_departureDateId_idx" ON "Booking"("departureDateId");

-- CreateIndex
CREATE INDEX "Booking_status_idx" ON "Booking"("status");

-- CreateIndex
CREATE INDEX "Booking_paymentStatus_idx" ON "Booking"("paymentStatus");

-- CreateIndex
CREATE INDEX "Booking_bookingType_idx" ON "Booking"("bookingType");

-- CreateIndex
CREATE INDEX "Booking_createdAt_idx" ON "Booking"("createdAt");

-- CreateIndex
CREATE INDEX "Passenger_bookingId_idx" ON "Passenger"("bookingId");

-- AddForeignKey
ALTER TABLE "DepartureDate" ADD CONSTRAINT "DepartureDate_tourId_fkey" FOREIGN KEY ("tourId") REFERENCES "Tour"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Booking" ADD CONSTRAINT "Booking_departureDateId_fkey" FOREIGN KEY ("departureDateId") REFERENCES "DepartureDate"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Booking" ADD CONSTRAINT "Booking_tourId_fkey" FOREIGN KEY ("tourId") REFERENCES "Tour"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Booking" ADD CONSTRAINT "Booking_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Passenger" ADD CONSTRAINT "Passenger_bookingId_fkey" FOREIGN KEY ("bookingId") REFERENCES "Booking"("id") ON DELETE CASCADE ON UPDATE CASCADE;

